@font-face {
  font-family: "Armin N";
  src: local("Armin N"),
    url("./src/assets/AG_Font/Fontspring-DEMO-armingrotesk-normal.otf")
      format("opentype");
  font-style: normal;
}

@font-face {
  font-family: "Armin SB";
  src: local("Armin SB"),
    url("./src/assets/AG_Font/Fontspring-DEMO-armingrotesk-semibold.otf")
      format("opentype");
  font-style: normal;
}

@font-face {
  font-family: "Armin BL";
  src: local("Armin BL"),
    url("./src/assets/AG_Font/Fontspring-DEMO-armingrotesk-black.otf")
      format("opentype");
  font-style: normal;
}

body {
  font-family: "Armin N", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Armin Grotesk", sans-serif;
}
