.sidebar {
  background-color: black;
  color: white;
  height: 100vh;
  padding: 15px;
}

/* This media query will make the sidebar disappear when the viewport width is below 768px */
@media screen and (max-width: 768px) {
  .sidebar {
    display: none;
  }
}
